<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <p> Our overall nervosity declines when anxieties are systematically laid out and examined. It helps to grip our anxieties head on and force ourselves to imagine what might happen if their vague catastrophic forebodings truly came to pass: Write down what you are anxious about – find at least 8 things. (Work – Relationships – Children/Parents – Health – Money – Things I have to do)
        <%= @upset1 %></p>
        <p>What would happen to us if everything we’re dimly worried about really came to pass? 
            <%= @upset2 %> </p>
        <p>What are the real dangers? 
            <%= @upset3 %> </p>
    </body> 
</html>