<div class="home-callout text-center container-fluid">
  <h1 class="white-text" style="text-shadow: 2px 2px crimson">hello</h1>
  <h3 style="color:white;">here is how I became a <strong id="gradienthome" style="text-shadow: 1.3px 1.3px black;">software engineer</strong></h3>
</div>
</hr>
<body class=home-callout>
<div>
	<table class="center">
		<tr class="center" style = "font-size:23px;">
			<th class="grey-shadow"> Date </th>
			<th class="teal-shadow"> Course </th>
			<th class="teal-shadow">Total Time<br/><p style="font-size: 15px;margin-left:3px;">(25 minute intervals)</p> </th>
			<th class="blue-shadow"> What you completed </th>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> Feb 25 </td>
			<td class="table-course-text"> Upskill Web Development: </td>
			<td class="table-time-text"> 50 minutes; 2 intervals </td>
			<td class="table-blue-text"> First 10 videos </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 2 </td>
			<td class="table-course-text"> Upskill Web Development </td>
			<td class="table-time-text"> 25 minutes; 1 interval </td>
			<td class="table-blue-text"> Couple videos </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 3 </td>
			<td class="table-course-text"> Upskill Web Development:</br> CSS </td>
			<td class="table-time-text"> 180 minutes; 7 intervals </td>
			<td class="table-blue-text"> Started Website </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 4 </td>
			<td class="table-course-text"> Upskill Web Development:</br> Building Startup </td>
			<td class="table-time-text"> 324 minutes; 13 intervals </td>
			<td class="table-blue-text"> Cloud9; Ruby on Rails </td>
		</tr>
		<tr style = "font-size:15px;">
			<td class="table-date-text"> March 5 </td>
			<td class="table-course-text"> Free Code Camp: </br> CSS </td>
			<td class="table-time-text"> 175 minutes; 7 intervals </td> 
			<td class="table-blue-text"> Completed Basic CSS Section! :D </br> Edited Website (legitimately spent </br> 1 hour on choosing these colors) </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 6 </td>
		  <td class="table-course-text"> Completed Free Code Camp: </br> Applied Visual Design </td>
		  <td class="table-time-text"> 212.5 minutes; 8.5 intervals </td>
		  <td class="table-blue-text"> Edited website: Contact Form and Font-Design <br/> Began animation  </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 7 </td>
		  <td class="table-course-text"> Completed Free Code Camp: </br>
		                                 Responsive Web Design Principles </br>
		                                 CSS Flexbox
		  </td>
		  <td class="table-time-text">8 intervals</td>
		  <td class="table-blue-text">Edited the Colors on the website. <br> fuck. I need to stop doing that. <br> I also need to stop spending two hours choosing colors everyday. <br> Fuck. </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 8 </td>
		  <td class="table-course-text"> Work on Free Code Camp: </br> Grids </td>
		  <td class="table-time-text"> 8 Intervals </td>
		  <td class="table-blue-text"> Started Beginning 2 page. Finally got the grids down. <br> Completed Free Code Camp: <br> First Certificate </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 9 </td>
		  <td class="table-course-text"> Watched 25 minutes of Harvard CS50 <br> Started Javascript on Upcourse </td>
		  <td class="table-time-text"> 10 intervals so far </td>
		  <td class="table-blue-text">Didn't do too much on website; <br> learned Javascript</td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 10 </td>
		  <td class="table-course-text"> Practiced javascript on Codeacademy <br> Did some reddit reading on programming </td>
		  <td class="table-time-text"> 5 intervals so far </td>
		  <td class="table-blue-text"> Thinking about what active learning may look like <br> instead of constantly learning new skills, <br> 
		  think about how you can improve your current ones </td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 11 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 12 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 13 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 14 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 15 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 16 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 17 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 18 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 19 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 20 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 21 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 22 </td>
		  <td class="table-course-text"></td> 
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 23 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 24 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 25 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 26 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 27 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 28 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
		  <td class="table-date-text"> March 29 </td>
		  <td class="table-course-text"></td>
		  <td class="table-time-text"></td>
		  <td class="table-blue-text"></td>
		</tr>
		<tr>
			<th class="table-header-text"> 10 days </th>
			<th class="table-header-text"> Finished Courses: 0 </th>
			<th class="table-header-text"> 966.5 minutes, or 16.1 hours </th>
			<th class="table-header-text"> Website </th>
		</tr>
	</table>
</div>  
  
</body>
