<div class="home-callout text-center container-fluid">
  <h1>hello</h1>
  <h3 style="color:white;">here is how I became a <strong>software engineer</strong></h3>
</div>
<body class=home-callout>
<div>
	<table class="center white-text">
		<tr class="center" style = "font-size:23px;">
			<th style = "color: #212D8A;"> Date </th>
			<th style = "color: #212D8A;"> Course </th>
			<th style = "color: #AFB4BD;"> 25 minute intervals </th>
			<th style = "color: #FFE40D;"> Total Time </th>
			<th style = "color: #FFE40D;"> What you completed </th>
		</tr>
		<tr style = "font-size:15px;">
			<td style = "color: #1D5999;"> Feb 25 </td>
			<td style = "color: #1D5999;"> Upskill Web Development: </td>
			<td> 2 </td>
			<td> 50 minutes </td>
			<td> First 10 videos </td>
		</tr>
		<tr style = "font-size:15px;">
			<td style = "color: #1D5999;"> March 2 </td>
			<td style = "color: #1D5999;"> Upskill Web Development </td>
			<td> 1 </td>
			<td> 25 minutes </td>
			<td> Couple videos </td>
		</tr>
		<tr style = "font-size:15px;">
			<td style = "color: #1D5999;"> March 3 </td>
			<td style = "color: #1D5999;"> Upskill Web Development: CSS </td>
			<td> 7 </td>
			<td> 180 minutes </td>
			<td> Started Website </td>
		</tr>
		<tr style = "font-size:15px;">
			<td style = "color: #1D5999;"> March 4 </td>
			<td style = "color: #1D5999;"> Upskill Web Development: Building Startup </td>
			<td> 13 </td>
			<td> 324 minutes </td>
			<td> Cloud9; Ruby on Rails </td>
		</tr>
		<tr style = "font-size:15px;">
			<td style = "color: #1D5999;"> March 5 </td>
			<td style = "color: #1D5999;"> Free Code Camp: CSS </td>
			<td> 5 </td> 
			<td>  </td>
			<td style="text-align: center;"> Completed Basic CSS Section! :D </br> Edited Website (legitimately spent </br> 1 hour on choosing these colors) </td>
		</tr>
		<tr style = "font-size:15px;">
			<th style = "color: #212D8A;"> 10 days </th>
			<th style = "color: #212D8A;"> Finished Courses: 0 </th>
			<th> </th>
			<th style = "color: #FFE40D"> 500 minutes, or 10 hours </th>
			<th style = "color: #FFE40D"> Website </th>
		</tr>
	</table>
</div>  
  
</body>
