<div class="home-callout text-center container-fluid">
  <h1 class="nasatext">reflections</h1>
  <h3 style="color:white;">here is how I became a <strong id="gradienthome" style="text-shadow: 1.3px 1.3px black;">software engineer</strong></h3>
</div>
</hr>
  <body class=home-callout>
    <div class="reflectionlist">
      <p class="whiteredshadow"> What you do well: </p>
        <dl class="reflectiondescription dl-horizontal">
          <dt>Routine</dt>
          <dd>Work on CS <mark>e-v-e-r-y-d-a-y!</mark></dd>
          <dt>Practice</dt>
          <dd>Practice the right skills; building applications are key</dd>
          <dt>Notes</dt>
          <dd>Be sure to take notes while watching videos</dd>
          <dt>Teachers</dt>
          <dd>Find the right style for you! </dd>
        </dl>
    </div>
<br>
    <div class="reflectionlist">
    <h2 class="reflectionheader"> There are many things YOU SHOULD NOT DO: </h2>
    <dl class="reflectiondescription dl-horizontal">
          <dt>Not Colors!</dt>
          <dd>Do not get <mark>fixated</mark> on choosing the right color!</dd>
          <dt>Chill</dt>
          <dd>Avoid Work and Interpersonal Conflicts!</dd>
          <dt>No Work</dt>
          <dd>Don't do any work at home</dd>
          <dt>2 Windows</dt>
          <dd>Only have the coding and tutorial window open! </dd>
        </dl>
    </div>  
  
  
</body>
