<div class="home-callout text-center container-fluid">
    <h1> <i class="fa fa-hand-lizard-o" aria-hidden="true"></i> how to become a dope software engineer</h1>
    <h3 style="color: white;"> a baller life </h3>
</div>

<body>
    <div class="bh2">
		<h2>
			1. First step is to google / reddit <img src="https://i2.wp.com/www.allaboutlean.com/wp-content/uploads/2018/10/Reddit-Logo-NOTEXT-2.png?resize=739%2C1024&ssl=1" class="reddit" alt="reddit logo"> how to become a <a href="https://www.reddit.com/r/learnprogramming/" target="_blank" class="hover">software engineer</a>
		</h2>

		<p> You will then find out that it's super fucking confusing.
		<br/>
		And then find something free. 
		<br/>
		</p>
	</div>
		
	<div style="display:inline-block;">
		<h2 class="peasant-text">2. Finish a free course, because you're a peasant</h2>
		<img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/4/4d/Peasant-.jpg/revision/latest/scale-to-width-down/300?cb=20090522195002" 
		alt="Peasant-"  
		data-src="https://vignette.wikia.nocookie.net/uncyclopedia/images/4/4d/Peasant-.jpg/revision/latest/scale-to-width-down/300?cb=20090522195002" 
		class="peasant" alt="peasant">
	</div>
		<h3>Realize that HTML isn't really what you think</h3>
		<ul>
			<li>Begin learning about HTML and feel a little smart, mostly because you can do cool shit like make this table... 
			</li>
		</ul>
			<table class="center">
				<tr> 
					<th>Date Started</th>
					<th>Course</th>
					<th>Action</th>
					<th>Date of Completion</th>
				</tr> 
				<tr>
					<td>Feb 26</td>
					<td><a href="https://upskillcourses.com" target="_blank">Upskill Courses</a></td>
					<td> Web Development (HTML and CSS knowledge) </td>
					<td> In Progress
						<div class="progress">
		  				<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td> March 4 </td>
					<td><a href="https://upskillcourses.com" target="_blank"> Upskill Courses </a></td>
					<td>Give Up the Course Halfway
					</td>
					<td>Done</td>
				</tr>
				<tr>
					<td>March 4</td>
					<td><a href="https://upskillcourses.com" target="_blank">Upskill Courses</a></td>
					<td>Realize you can collect crazy information from people, like their bank account username and password. <br/> 
					Become motivated to start again. </td>
					<td>In Progress
						<div class="progress">
		  				<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>March 4</td>
					<td><a href="https://freecodecamp.org" target="_blank">Free Code Camp</a></td>
					<td>Realize that you could probably get more things done through FreeCodeCamp</td>
					<td>In Progress
						<div class="progress">
		  				<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</td>
				</tr>
			</table>
				<br/>
		<ul>
			
		</ul>
		<ul>
			<li>Learn about CSS and feel like being a graphic designer is your true calling </li> 
			<br/>
			<li>Realize that it took you around 10 hours to make this website, and you only have plain text on it.</li>
			<br/>
			<li><section class="rw-wrapper">
					<span>But then you discover you can probably create&nbsp;</span>
						<div class="rw-words rw-words-1">
							<span>very illegal and crazy shit</span>
					        <span>a time machine, where you would make your crush go to prom with you</span>
					        <span>the next facebook, because I'm officially Zuckerberg</span>
					        <span>a digital fish-farm, because those games are addicting and I want to win</span>
					        <span>a british bake off game, because I want to cook without buying the ingredients</span>
					        <span>neopets v.2</span>
					        <span>dating games because that process sucks</span>
					        <span>colleague app, where you can manage your relationships at work</span>
					        <span>black market, but not selling shark fin because that shit is crazy</span>
					        <span>weird services</span>
					        <span>the next league of legends</span>
					        <span>a way to finally budget well</span>
					        <span>a fun and creative site where people can do weird shit</span>
					        <span>reddit, but like, for girls</span>
					        
					    </div>
				</section> 
			</li>
			<br/>
			<li>Being a software engineer has officially become badass, motherfucka.</li>
		</ul>
				<form class="center" action="/submit-information">
					<label for="bank">Bank You Use</label>
					<input type="text" required placeholder="Bank You Use">
					<br/>
					<label for="username">Username</label>
					<input name="username" type="text" required placeholder="Bank Account Username"/>
					<br>
					<label for="password">Password</label>
					<input name="password" type="password" required placeholder="Bank Account Password"/>
					<br/>
					<input type="submit"/>
					<br/>
				</form>

		<ul>	
			<li>Perhaps this is more useful than you think. Does this feel... (choose the following) </li>
				<form>
					<select>
						<option>Super Dope</option>
						<option>Kinda Dope</option>
						<option>Not Dope at All</option>
					</select>
				</form>
		</ul>


<h3>CSS, motherfuckers.</h3>

	<p>Now we are going to get more in depth about how to execute this CSS shit.</p>
	<ul>
		<li>CSS is actually the thing that makes your website cool af.</li>
		<li class="cool"> Like, super cool. </li>
		<li><img class="lesley" src="lesley.jpg" alt="lesley cheung"></li>
		<li>Like, make your image circular kind of cool</li>
	</ul>

<h3>Back-fucking-end Languages, mothafucka</h3>

	<p>So... turns out that HTML and CSS are super basic. We are going to head into fucking useful territory, where the coding actually happens
	</p>

	<ul>
		<li>Back-end languages, such as Ruby and Java, are actually things that make your app. The HTML and CSS stuff is just to make thing pretty. But I really want to make it super pretty.</li>
	</ul>

<h2>3. Realize halfway that you should probably do more research on how to get proficient at Computer Science</h2>
	<ol>
		<li>Discover <a href="https://medium.com/@davidventuri/i-dropped-out-of-school-to-create-my-own-data-science-master-s-here-s-my-curriculum-1b400dcee412" target="_blank">David Venturi</a>, who "designed" his own computer science degree through taking courses online</li>
		<li>Decide to do that</li>
			<ul>
				<li>fuck.</li>
				<li><table>
						<tr>						
							<th>Course</th>
							<th>Hours</th>
							<th>Cost</th>
							<th>Notes</th>
							<th>Completed?</th>
						</tr>
						<tr>
							<td> Harvard CS50: Intro to Computer Science </td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>MIT: Mathematics for Computer Science</td>
							<td></td>
							<td></td>
							<td>Discrete Mathematics for Computer Science (MIT 6.042J)</td>
							<td></td>
						</tr>
						<tr>
							<td>Data Structures: Stanford CS106B</td>
							<td></td>
							<td></td>
							<td>UC Berkeley CS61B</td>
							<td></td>
						</tr>
						<tr>
							<td>MIT 6.823</td>
							<td></td>
							<td></td>
							<td>Computer Architecture</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>UX Design</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Intro to Web Development</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Intro to Databases</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Operating Systems</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Computer Graphics</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Programming Language Theory</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Algorithms</td>
							<td></td>
						</tr>	
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>System Engineering</td>
							<td></td>
						</tr>	
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Software Engineering</td>
							<td></td>
						</tr>	
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Principles of Computing</td>
							<td></td>
						</tr>	
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Computer Networking</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Mobile Software Development</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Programming Languages and Compilers</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Artificial Intelligence</td>
							<td></td>
						</tr>		
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Parallel Computing</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>Machine Learning</td>
							<td></td>
						</tr>
					</table>
			
				</li>
			</ul>
		<li>Feel extremely overwhelemed. It's only been five days and you are planning out the next two years. Fuck.</li>
		<li>Question everything. What the fuck am I doing? </li>
		<li>Freak the fuck out and google other options</li>
		<li>Think about the <a href="https://techdevguide.withgoogle.com/" target="_blank">Google Curriculum</a>
		<ul>
			<table>
				<tr>						
					<th>Course</th>
					<th>Hours</th>
					<th>Cost</th>
					<th>Notes</th>
					<th>Completed?</th>
				</tr>
				<tr>
					<td>Foundations of Programming</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Advanced Programming</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Machine Learning</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Cloud Computing</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>							
			</table>
		</ul>
	<li>Realize that you are probably freaking yourself out and that all this research is just a cover-up for the procrasination that is really going on.</li>
	<li>Decide to finish the free courses first, and see how that feels. </li>

	</ol>
	
	<h2>4. Decide to track your progress, because CS can get kind of boring, sometimes.</h2>
	<ul>
		<li>

		</li>
	</ul>
		
	<h2>Find that people are super friendly on the web (such as on freecodecamp and reddit)</h2>
		<ul>
			<li>Find awesome resources </li>
			<li>
				<table>
					<tr>
						<th>Resource</th>
						<th>What it does</th>
					</tr>
					<tr>
						<td> <a href="https://developer.mozilla.org/en-US/docs/Web">Mozilla Firefox</a></td>
						<td> Resource that explains and breaks down what HTML is </td>
					</tr>
					<tr>
						<td> Mdbootstrap </td>
						<td> </td>
					</tr>
				</table>
			</li>
			<li> Find awesome stories about people finding jobs as software engineers after self-learning </li>
			<li> Feel motivated again </li>
		</ul>
		
	<div class="beginning-container">
		<div class="beginning-a"></div>
		<div class="beginning-1">
			<div class="bh2">
				<h2>
					(1) 1. First step is to google / reddit <img src="https://i2.wp.com/www.allaboutlean.com/wp-content/uploads/2018/10/Reddit-Logo-NOTEXT-2.png?resize=739%2C1024&ssl=1" class="reddit" alt="reddit logo"> 
					<br/> how to become a <a href="https://www.reddit.com/r/learnprogramming/" target="_blank" class="hover">software engineer</a>
				</h2>
			</div>
		
		</div>
		<div class="beginning-2">
			<h2 style="color: darkslategray;"> (2) You will then find out that it's super fucking confusing.
			<br/>
			And then find something free. 
			<br/>
			</h2>
		</div>
		<div class="beginning-b"></div>
		<div class="beginning-3">
			<div style="display:inline-block;">
			<h2 class="peasant-text"> (3) 2. Finish a free course, because you're a peasant</h2>
			<img src="https://vignette.wikia.nocookie.net/uncyclopedia/images/4/4d/Peasant-.jpg/revision/latest/scale-to-width-down/300?cb=20090522195002" alt="Peasant-"  data-src="https://vignette.wikia.nocookie.net/uncyclopedia/images/4/4d/Peasant-.jpg/revision/latest/scale-to-width-down/300?cb=20090522195002" class="peasant" alt="peasant">
		</div>
		</div>
		<div class="beginning-4">(4)
			<table class="center">
				<tr> 
					<th>Date Started</th>
					<th>Course</th>
					<th>Action</th>
					<th>Date of Completion</th>
				</tr> 
				<tr>
					<td>Feb 26</td>
					<td><a href="https://upskillcourses.com" target="_blank">Upskill Courses</a></td>
					<td> Web Development (HTML and CSS knowledge) </td>
					<td> In Progress
						<div class="progress">
		  				<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td> March 4 </td>
					<td><a href="https://upskillcourses.com" target="_blank"> Upskill Courses </a></td>
					<td>Give Up the Course Halfway
					</td>
					<td>Done</td>
				</tr>
				<tr>
					<td>March 4</td>
					<td><a href="https://upskillcourses.com" target="_blank">Upskill Courses</a></td>
					<td>Realize you can collect crazy information from people, like their bank account username and password. <br/> 
					Become motivated to start again. </td>
					<td>In Progress
						<div class="progress">
		  				<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>March 4</td>
					<td><a href="https://freecodecamp.org" target="_blank">Free Code Camp</a></td>
					<td>Realize that you could probably get more things done through FreeCodeCamp</td>
					<td>In Progress
						<div class="progress">
		  				<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="beginning-c">c</div>
		<div class="beginning-5">(5)
			<ul>
			<li>Learn about CSS and feel like being a graphic designer is your true calling </li> 
			<br/>
			<li>Realize that it took you around 10 hours to make this website, and you only have plain text on it.</li>
			<br/>
			<li><section class="rw-wrapper">
					<span>But then you discover you can probably create&nbsp;</span>
						<div class="rw-words rw-words-1">
							<span>very illegal and crazy shit</span>
					        <span>a time machine, where you would make your crush go to prom with you</span>
					        <span>the next facebook, because I'm officially Zuckerberg</span>
					        <span>a digital fish-farm, because those games are addicting and I want to win</span>
					        <span>a british bake off game, because I want to cook without buying the ingredients</span>
					        <span>neopets v.2</span>
					        <span>dating games because that process sucks</span>
					        <span>colleague app, where you can manage your relationships at work</span>
					        <span>black market, but not selling shark fin because that shit is crazy</span>
					        <span>weird services</span>
					        <span>the next league of legends</span>
					        <span>a way to finally budget well</span>
					        <span>a fun and creative site where people can do weird shit</span>
					        <span>reddit, but like, for girls</span>
					        
					    	</div>
					</section> 
				</li>
				<br/>
				<li>Being a software engineer has officially become badass, motherfucka.</li>
			</ul>
		</div>
		<div class="beginning-6">(6)</div>
		<div class="beginning-d">d</div>
		<div class="beginning-7">(7)</div>
		<div class="beginning-8">(8)</div>
		<div class="beginning-9">(9)</div>
		<div class="beginning-10">(10)</div>
		<div class="beginning-11">(11)</div>
		
	</div>
	



	</body>