/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-size: 100%;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em; 
}

p {
  font-size: 1.4em;
}

ul, ol, body, h1, h3 {
  font-family: 'Libre Baskerville', serif;
}

td {
  font-family: 'Libre Baskerville', serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

th {
  font-family: 'Libre Baskerville', serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

h1 {
  margin-top: 30px;
	font-size: 50px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  color: #A84308;
}

.navbar, .home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  background: #acb6e5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  border: none;
  font-size: 1.4em;
}

.logo:hover {
  animation-name: logo-hover;
  animation-duration: 1s; 
  animation-fill-mode: forwards;
}

@keyframes logo-hover {
  100% { 
    color: black;
  }
}

.peasant{
  width: 10%;
  order: 2; 
  animation-name: fade1;
}

.peasant-text { 
 display: inline-block;
 order: 1; 
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  50% {
    opacity: 0.1;
  }
}

.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

th, td, table {
  text-align: center;
  border: 1px dashed lightslategrey;
  border-spacing: 5px;
}

table.center{
	margin-left:auto;
	margin-right:auto;
}

form {
	text-align:center;
	font-weight: bolder;
}

.cool{
	font-family: 'Pacifico', cursive;
	color: red;
	font-size: 20px;
}

.hover:hover{
	color: blue;
	text-decoration: underline;
}

.lesley{
  border-radius: 40%;
  height: 140px;
  width: 120px;
}

.reddit{
	border-radius: 40%;
	height: 40px;
	width: 25px;
}


ul, ol, h2, h3, h4{
  margin-left: 40px;
}

// Nav Styles
.navbar {
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}
// Home Page Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #86fde8;
  }
}
  
.stamp {
  border: 5px dashed black;
}


.footer {
  margin: 30px;
  text-align: right;
}

.white-text {
  color: white;
}

//home page text-shadow stuff 
.blue-shadow {
  color: beige;
  text-shadow: 1.2px 1.2px cornflowerblue;
  font-size: 23px;
}

.teal-shadow {
  color: beige;
  text-shadow: 1.2px 1.2px teal;
  font-size: 23px;
}

.teal-text {
  color: gray;
  text-shadow: 1.2px 1.2px papayawhip;
}

.grey-shadow {
  color: beige;
  text-shadow: 1px 1px grey;
  font-size: 23px;
}

.black-shadow {
  color: beige;
  text-shadow: 1.2px 1.2px black;
}

.table-time-text {
  text-shadow: 1px 1px ghostwhite;
  color: rebeccapurple;
  font-size: 15px;
}

.table-blue-text {
  text-shadow: 1px 1px ghostwhite;
  color: darkmagenta;
  font-size: 15px;
}

.table-course-text {
  color: royalblue;
  text-shadow: 1.2px 1.2px white;
  font-size: 15px;
}

.table-date-text {
  color: #2C7A8A;
  text-shadow: 1px 1px white;
  font-size: 15px;
}

//animation home page
#gradienthome {
  animation-name: gradienthome;
  animation-duration: 10s; 
}

@keyframes gradienthome {
  0% {
    color: black;
    text-shadow: 2px 2px white;
  }
  25% {
    color: darkcyan;
    text-shadow: 1px 1px white;
  }
  50% {
    text-shadow: 1.2px 1.2px lightslategrey;
    color: white;
  }
  75% {
    color: beige;
    text-shadow: 1px 1px grey;
  }
  100% {
    color: white;
    text-shadow: 1px 1px black;
  }
}



//
.rw-wrapper{
    width: 80%;
    position: relative;
    font-family: 'Libre Baskerville', serif;
}
.rw-words{
    display: inline;
    text-indent: 2px;
    color: #ED3B29;
    font-weight: bold;
    text-shadow: 1px 1px white;
}
.rw-words-1 span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: rotateWord 39s linear infinite 0s;
    -ms-animation: rotateWord 39s linear infinite 0s;
    animation: rotateWord 39s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
}

.rw-words-1 span:nth-child(7) { 
    -webkit-animation-delay: 18s; 
    -ms-animation-delay: 18s; 
    animation-delay: 18s; 
}

.rw-words-1 span:nth-child(8) { 
    -webkit-animation-delay: 21s; 
    -ms-animation-delay: 21s; 
    animation-delay: 21s; 
}

.rw-words-1 span:nth-child(9) { 
    -webkit-animation-delay: 24s; 
    -ms-animation-delay: 24s; 
    animation-delay: 24s; 
}

.rw-words-1 span:nth-child(10) { 
    -webkit-animation-delay: 27s; 
    -ms-animation-delay: 27s; 
    animation-delay: 27s; 
}

.rw-words-1 span:nth-child(11) { 
    -webkit-animation-delay: 30s; 
    -ms-animation-delay: 30s; 
    animation-delay: 30s; 
}

.rw-words-1 span:nth-child(12) { 
    -webkit-animation-delay: 33s; 
    -ms-animation-delay: 33s; 
    animation-delay: 33s; 
}

.rw-words-1 span:nth-child(13) { 
    -webkit-animation-delay: 36s; 
    -ms-animation-delay: 36s; 
    animation-delay: 36s; 
}

.rw-words-1 span:nth-child(14) { 
    -webkit-animation-delay: 39s; 
    -ms-animation-delay: 39s; 
    animation-delay: 39s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}

//grid beginning page

.beginning-container {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 0.25fr 1fr 1fr; 
  grid-gap: 20px; 
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  overflow-wrap: break-word;
  flex: auto; 
}

.beginning-a {
  grid-column: 1 / 4;
  row: 1; 
}

.beginning-1 {
  background: lightgoldenrodyellow;
  grid-column: 1 / 3;
  row: 2; 
  justify-items: left; 
}

.beginning-2 {
  background: lightblue;
  grid-column: 3 / 4;
  row: 2; 
  justify-items: right; 
}

.beginning-b {
  background: lightblue;
  grid-column: 1 / 4;
  row: 3; 
}

.beginning-3 {
  background: palegreen;
  justify-items: left; 
  row: 4; 
  grid-column: 1 / 2;
}

.beginning-4 {
  background: paleturquoise;
  grid-column: 2 / 4;
  row: 4; 
  justify-items: right; 
}

.beginning-c {
  background: lightblue;
  grid-column: 1 / 4;
  row: 5; 
}

.beginning-5 {
  background: #D1B894;
  justify-items: left; 
  grid-column: 1 / 3; 
  row: 6; 
}

.beginning-6 {
  background: #DBB1CD;
  grid-column: 3 / 4; 
  row: 6; 
  justify-items: right; 
}

.beginning-d {
  background: lightblue;
  grid-column: 1 / 4;
  row: 7; 
}

.beginning-7 {
  background: #F3D6E4;
  grid-column: 1 / 2; 
  grid-row: 8; 
  justify-items: left; 
}

.beginning-8 {
  background: wheat;
  grid-column: 3 / 4; 
  row: 8; 
  justify-items: right; 
}

.beginning-9 {
  background: #AF9483;
  grid-column: 1 / 2; 
  row: 9; 
  justify-items: left; 
}

.beginning-10 {
  background: #98B4D4;
  grid-column: 3 / 4; 
  row: 9; 
  justify-items: right; 
}

.beginning-11 {
  background: lightpink;
  grid-column: 2 / 3;
  grid-row: 8 / 10
}

.grid-header-text {
   color: darkred;
   font-size: 3em;
   margin: 20px;
}

.grid-header-background {
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.grid-text {
  color: darkred;
  margin: 20px;
  font-size: 2em;
}

.grid-3-text {
  padding: 20px;
  color: darkred;
}

.grid-small-text {
  color: darkred;
  font-size: 1em;
}

.table-header-text {
  color: #blue;
  text-shadow: 1.2px 1.2px blanchedalmond;
}

//gridbeginning progress bars 


.progress { 
 position: relative; 
 display: block;
 padding: 5px;
 padding-bottom: 25px;
 margin: 20px;
 line-height: 1px; 
 font-size: 2em;
 background: rgba(0,0,0,0.1);
 border-radius: 30px;
 box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}  

.progress span {
  position: relative; 
  display: inline-block;
  vertical-align: middle;
  height: 20px; 
  border-radius: 10px 10px 10px 10px;
  overflow: hidden; 
  background-color: cornsilk;
  background-size: 100%; //whats going on
  animation: progress 5s infinite linear;
}

.progress span::after{
  position: absolute;
  vertical-align: middle;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  content: "";
  background-size: 50%; 
  background-image: linear-gradient(45deg, lightblue 25%,
                                       rgba(0,0,0,0) 25%,
                                       rgba(0,0,0,0) 50%,
                                       lightblue 50%,
                                       lightblue 75%,
                                       rgba(0,0,0,0) 75%,
                                       rgba(0,0,0,0));
  background-size: 30px 30px;
  opacity: 0.8; 
 /* bottom: calc(100% + 5px);
  z-index: 1; 
  display: inline-block;
  content: attr(data-label);
  padding: 5px;
  font-size: 0.8em;
  border-radius: 3px;
  background-color: rgba(0,0,0,1); */
  //animation: progress-after 2s infinite linear; 
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes progress-after {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 30px 50%;
  }
  }
  
//css progress 


.csspercent { 
 position: relative; 
 display: block;
 padding: 5px;
 font-size: 16px; 
 margin: 20px;
 line-height: 16px; 
 font-size: 2em;
 background: rgba(0,0,0,0.1);
 border-radius: 30px;
 box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}  

.csspercent span {
  position: relative; 
  display: inline-block;
  vertical-align: middle;
  height: 20px; 
  border-radius: 10px 10px 10px 10px;
  overflow: hidden; 
  background-color: cornsilk;
  animation: csspercent 5s infinite linear;
}

.csspercent span::after{
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  content: "";
  background-size: 100%; 
  background-image: linear-gradient(45deg, lightpink 25%,
                                       rgba(0,0,0,0) 25%,
                                       rgba(0,0,0,0) 50%,
                                       lightpink 50%,
                                       lightpink 75%,
                                       rgba(0,0,0,0) 75%,
                                       rgba(0,0,0,0));
  background-size: 30px 30px;
  opacity: 0.8; 
  animation: csspercent-after 5s infinite linear; 
}

@keyframes csspercent {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes csspercent-after {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 30px 100%;
  }
  }
  
.javapercent { 
 position: relative; 
 display: block;
 padding: 5px;
 font-size: 16px; 
 margin: 20px;
 line-height: 16px; 
 font-size: 2em;
 background: rgba(0,0,0,0.1);
 border-radius: 30px;
 box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}  

.javapercent span {
  position: relative; 
  display: inline-block;
  vertical-align: middle;
  height: 20px; 
  border-radius: 10px 10px 10px 10px;
  overflow: hidden; 
  background-color: cornsilk;
  animation: javapercent 5s infinite linear;
}

.javapercent span::after{
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  content: "";
  background-size: 100%; 
  background-image: linear-gradient(45deg, lightgreen 25%,
                                       rgba(0,0,0,0) 25%,
                                       rgba(0,0,0,0) 50%,
                                       lightgreen 50%,
                                       lightgreen 75%,
                                       rgba(0,0,0,0) 75%,
                                       rgba(0,0,0,0));
  background-size: 30px 30px;
  opacity: 0.8; 
  animation: javapercent-after 10s infinite linear; 
}

@keyframes javapercent {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

@keyframes javapercent-after {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 30px 100%;
  }
  }
  
.pythonpercent { 
 position: relative; 
 display: block;
 padding: 5px;
 font-size: 16px; 
 margin: 20px;
 line-height: 16px; 
 font-size: 2em;
 background: rgba(0,0,0,0.1);
 border-radius: 30px;
 box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}  

.pythonpercent span {
  position: relative; 
  display: inline-block;
  vertical-align: middle;
  height: 20px; 
  border-radius: 10px 10px 10px 10px;
  overflow: hidden; 
  background-color: white;
  animation: pythonpercent 5s infinite linear;
}

.pythonpercent span::after{
  position: absolute;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0; 
  content: "";
  background-size: 100%; 
  background-image: linear-gradient(45deg, lightpurple 25%,
                                       rgba(0,0,0,0) 25%,
                                       rgba(0,0,0,0) 50%,
                                       lightpurple 50%,
                                       lightpurple 75%,
                                       rgba(0,0,0,0) 75%,
                                       rgba(0,0,0,0));
  background-size: 30px 30px;
  opacity: 0.8; 
  animation: pythonpercent-after 10s infinite linear; 
}

@keyframes pythonpercent {
  0% {
    width: 0%;
  }
  100% {
    width: 2%;
  }
}

@keyframes pythonpercent-after {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 30px 100%;
  }
  }
  
//LOADING STUFF
/*
.progress span::before {
  position: absolute; 
  right: 0; 
  bottom: 100;
  display: inline-block; 
  width: 0; 
  height: 0; 
  border: 10px solid transparent; 
  border-right-width: 0;
  border-bottom-width: 0; 
  border-top-color: rgba(0,0,0,1);
  content: "";
}
*/


//theclimax styles

.climax-background {
  background-image: url("https://images.unsplash.com/photo-1464823063530-08f10ed1a2dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
}
