/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

ul, ol, body, h1, h3 {
  font-family: 'Libre Baskerville', serif;
}

td {
  font-family: 'Libre Baskerville', serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

th {
  font-family: 'Libre Baskerville', serif;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

h1 {
  margin-top: 30px;
	font-size: 50px;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  color: #A84308;
}

.navbar, .home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  background: #acb6e5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  border: none;
}

.logo:hover {
  animation-name: logo-hover;
  animation-duration: 1s; 
  animation-fill-mode: forwards;
}

@keyframes logo-hover {
  100% { 
    color: black;
  }
}

.peasant{
  height: 190px;
  float: right;
  margin-right: 440px;
  margin-top: -100px;
  animation-name: fade1;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  50% {
    opacity: 0.1;
  }
}

.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

th, td, table {
  text-align: center;
  border: 1px dashed #5E1D00;
  border-spacing: 5px;
}

table.center{
	margin-left:auto;
	margin-right:auto;
	color: white;
}

form{
	text-align:center;
	font-weight: bolder;
}

.cool{
	font-family: 'Pacifico', cursive;
	color: red;
	font-size: 20px;
}

.hover:hover{
	color: blue;
	text-decoration: underline;
}

.lesley{
  border-radius: 40%;
  height: 140px;
  width: 120px;
}

.reddit{
	border-radius: 40%;
	height: 40px;
	width: 25px;
}


ul, ol, p, h2, h3, h4{
  margin-left:50px;
}

// Nav Styles
.navbar {
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}
// Home Page Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #86fde8;
  }
}
  
.stamp {
  border: 5px dashed black;
}


.footer {
  margin: 30px;
  text-align: right;
}

.white-text {
  color: white;
}

//home page text-shadow stuff 
.blue-shadow {
  color: beige;
  text-shadow: 1.2px 1.2px cornflowerblue;
}

.teal-shadow {
  color: beige;
  text-shadow: 1.2px 1.2px teal;
}

.teal-text {
  color: gray;
  text-shadow: 1.2px 1.2px papayawhip;
}

.grey-shadow {
  color: beige;
  text-shadow: 1px 1px grey;
}

.black-shadow {
  color: beige;
  text-shadow: 1.2px 1.2px black;
}

.table-time-text {
  text-shadow: 1px 1px ghostwhite;
  color: rebeccapurple;
}

.table-blue-text {
  text-shadow: 1px 1px ghostwhite;
  color: darkmagenta;
}

.table-course-text {
  color: royalblue;
  text-shadow: 1.2px 1.2px white;
}

.table-date-text {
  color: darkslateblue;
  text-shadow: 1.2px 1.2px beige;
}

.table-header-text {
  color: #212D8A;
  text-shadow: 1.2px 1.2px blanchedalmond;
}

//animation home page
#gradienthome {
  animation-name: gradienthome;
  animation-duration: 10s; 
}

@keyframes gradienthome {
  0% {
    color: black;
    text-shadow: 2px 2px white;
  }
  25% {
    color: darkcyan;
    text-shadow: 1px 1px white;
  }
  50% {
    text-shadow: 1.2px 1.2px lightslategrey;
    color: white;
  }
  75% {
    color: beige;
    text-shadow: 1px 1px grey;
  }
  100% {
    color: white;
    text-shadow: 1px 1px black;
  }
}



//
.rw-wrapper{
    width: 80%;
    position: relative;
    font-family: 'Libre Baskerville', serif;
}
.rw-words{
    display: inline;
    text-indent: 2px;
    color: #ED3B29;
    font-weight: bold;
    text-shadow: 1px 1px white;
}
.rw-words-1 span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: rotateWord 39s linear infinite 0s;
    -ms-animation: rotateWord 39s linear infinite 0s;
    animation: rotateWord 39s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
}

.rw-words-1 span:nth-child(7) { 
    -webkit-animation-delay: 18s; 
    -ms-animation-delay: 18s; 
    animation-delay: 18s; 
}

.rw-words-1 span:nth-child(8) { 
    -webkit-animation-delay: 21s; 
    -ms-animation-delay: 21s; 
    animation-delay: 21s; 
}

.rw-words-1 span:nth-child(9) { 
    -webkit-animation-delay: 24s; 
    -ms-animation-delay: 24s; 
    animation-delay: 24s; 
}

.rw-words-1 span:nth-child(10) { 
    -webkit-animation-delay: 27s; 
    -ms-animation-delay: 27s; 
    animation-delay: 27s; 
}

.rw-words-1 span:nth-child(11) { 
    -webkit-animation-delay: 30s; 
    -ms-animation-delay: 30s; 
    animation-delay: 30s; 
}

.rw-words-1 span:nth-child(12) { 
    -webkit-animation-delay: 33s; 
    -ms-animation-delay: 33s; 
    animation-delay: 33s; 
}

.rw-words-1 span:nth-child(13) { 
    -webkit-animation-delay: 36s; 
    -ms-animation-delay: 36s; 
    animation-delay: 36s; 
}

.rw-words-1 span:nth-child(14) { 
    -webkit-animation-delay: 39s; 
    -ms-animation-delay: 39s; 
    animation-delay: 39s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
    5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
    20% { opacity: 0; -ms-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}






